<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- Set the root logger level to DEBUG -->
  <appender class="ch.qos.logback.core.ConsoleAppender" name="console">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <!--  &lt;!&ndash; Define the console appender &ndash;&gt;-->
  <!--  <logger level="trace" name="org.example.app">-->
  <!--    <appender-ref ref="console"/>-->
  <!--  </logger>-->

  <logger level="trace" name="s2" additivity="false">
    <appender-ref ref="console"/>
  </logger>

  <root level="debug">
    <appender-ref ref="console"/>
  </root>
</configuration>